body {margin: 0;
}
header { 
    background-color: white;
    height: 80px;
    position: sticky;
    top: 0;
}
#logoimg {
    width: 60px;
    height: 60px;
    margin-left: 200px;
    margin-top: 10px;

}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navlist {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 350px;
    margin-right: 70px
}
h1 { 
    margin-right: 420px;
}
#doc {
    color: turquoise;
    position: relative;
}
#group {
    color: gray;
    position: absolute;
    margin-left: 10px;
}
#aboutus {
    color: turquoise;
}
#career {
    color: gray;
}
#departments {
    color: gray;
}
#career:hover {color: turquoise;
}
#departments:hover {
    color: turquoise;
}
#mainimg {
    width: 60px;
    height: 60px;
    margin-left: 50%;
}
#healthcare {
    color: turquoise;
    text-align: center;
    font-size: xx-large;
}
#firstp {
    border: hidden;
         width: 25%;
         margin-left: 300px;
         display: inline-block;
}
#secondp {
    border: hidden;
    width: 25%;
    display: inline-block;
    margin-right: 100px;
}
.paragraph{
    color: gray;
    font-family: italic;
    line-height: 25px;
    font-size: large;
}
.borders {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.patient {
    border: 1px solid;
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
#border1 {
    background-color: turquoise;
}
#border2 {
    background-color: rgb(17, 73, 194);
}
#border3 {
    background-color:rgb(1, 3, 31);
}
.bordertext1 {
    color: white;
    font-size:xx-large;
    text-align: center;
    align-items: center;
}
.bordertext2 {
    color: white;
    font-size: xx-large;
    text-align: center;
}
.bordertext3 {
    color: white;
    font-size: xx-large;
    text-align: center;
}
#icon1 {
    color: white;
    align-self: center;
    position: absolute;
    margin-left: 50px;
    margin-top: 15px;
}
#icon2 {
    color: white;
    align-self: center;
    position: absolute;
    margin-left: 50px;
    margin-top: 15px;
}
#icon3 {
    color: white;
    align-self:center;
    position: absolute;
    margin-left: 50px;
    margin-top: 15px;
}
.dropdown {
    position: relative;
  display: inline-block;
}
.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    height: 100px;
    z-index: 1;
    color: gray;
    list-style: none;
}
.dropdown:hover .content {
    display: block;
}
.ddlist {
    height: 40px;
    width: 200px;
}
.ddlist:hover {
    color: turquoise;
    background-color: rgb(209, 202, 202);
}
#countryselect1 {
    width: 300px;
    height: 50px;
    background-color: turquoise;
    font-size: x-large;
    color: white;
    list-style: none;
}
#countryselect2 {
    width: 300px;
    height: 50px;
    background-color: rgb(17, 73, 194);
    font-size: x-large;
    color: white;
    list-style: none;
}
#countryselect3 {
    width: 300px;
    height: 50px;
    background-color: rgb(1, 3, 31);
    font-size: x-large;
    color: white;
    list-style: none;
}
#countryselect4 {
    width: 300px;
    height: 50px;
    background-color: rgb(1, 3, 31);
    font-size: x-large;
    color: white;
    list-style: none;
}
#section2 {
    display: flex;
}
#header2 {
    width: 100%;
    border: 1px transparent;
    margin-top: 60px;
    margin-left: 60px;
    color: turquoise;
    font-size: xx-large;
    display: flex;
}
.logoimages {
    width: 200px;
    height: 150px;
    display: inline-block;
    filter: grayscale();
    margin-left: 50px;
}
.logoimages:hover {
    filter: initial;
}
.globalheader {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 100px;
}
#img1 {
    width: 150px;
    height: 150px;
    
}
#img2 {
    width: 120px;
    height: 100px; 
}
#img3 {
    width: 120px;
    height: 100px;
}
#img4 {
    width: 120px;
    height: 130px;
}
#img5 {
    width: 120px;
    height: 80px;
    margin-top: 60px;
    position: absolute;
}
#img6 {
    width: 120px;
    height: 80px;
    margin-top: 60px;
    position: absolute;
    margin-left: 200px;
}
#img7 {
    width: 100px;
    height: 40px;
    margin-top: 50px;
    position: absolute;
    margin-left: 360px;
}
#img8 {
    width: 100px;
    height: 80px;
    margin-top: 60px;
    position: absolute;
    margin-left: 500px;
}


#section3 {
    background: rgb(204, 243, 239);
    margin-top: 40px;
    display: flex;
    height: 600px
}
#section3div {
    margin-left: 100px;
}
#section2header {
    color: turquoise;
    margin-left: 60px;
    font-size: xx-large;
}
#section2p {
    color: gray;
    margin-left: 60px;
} 
#docplannerimg {
    width: 400px;
    height: 350px;

}
#section3borders {
    display: flex;
}
.borders4 {
    border: transparent;
    background-color: white;
    height: 250px;
    width: 250px;
}
.borders4 {
    text-align: center;
    
}
#borderheader1 {
    color: turquoise;
    font-size: xx-large;
}
#borderheaderp {
    color: gray;
}
#bordericon1 {
    width: 250px;
    color: turquoise;
}
#border1in4 {
    margin-top: 60px;
    margin-left: 100px;

}
#bordericon2 {
    color: turquoise;
}
#borderheader2 {
    color: turquoise;
    font-size: xx-large;
}
#borderheaderp2 {
    color: gray;
}
#border2in4 {
    margin-top: 40px;
    margin-left: 20px;
}
#bordericon3 {
    color: turquoise;
}
#borderheader3 {
    color: turquoise;
    font-size: xx-large;
}
#borderheaderp3 {
    color: gray;
}
#border3in4 {
    margin-top: 330px;
    position: absolute;
    margin-left: 100px;
}
#bordericon4 {
    color: turquoise;
}
#borderheader4  {
    color: turquoise;
    font-size: xx-large;
}
#borderheaderp4 {
    color: gray;
}
#border4in4 {
    position: absolute;
    margin-top: 300px;
    margin-left: 370px;
}
#section4 {
    text-align: center;
    margin-left: 40%;
    color: turquoise;
}
#section4p {
    border: 1px;
    width: 50%;
    color: gray;
}
.allimages {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: 80px;
}

.links:hover {
    box-shadow: 5px 5px 5px gray;
    
}
.locations {
    text-decoration: none;
    color: gray;
    font-size: x-large;
}
.links {
    text-decoration: none;
}
.picture1 {
    margin-left: 60px;
}

.picture2 {
    margin-left: 100px;
}

.picture3 {
    margin-left: 80px;
}
.picture4 {
    margin-left: 60px;
    margin-top: 200px;
}
.picture5 {
    margin-top: 200px;
    margin-left: 100px;
}
.picture6 {
    margin-left: 80px;
    margin-top: 200px;
}
.picture7 {
    margin-left: 60px;
    margin-top: 400px;   
}
.picture8 {
    margin-top: 400px;
    margin-left: 100px;
}
.main {
    height: 300%;
}
#lastheader {
    text-align: center;
    color: rgb(1, 1, 24);
    margin-top: 55%;
    margin-left: 320px;
}
#inputbutton {
    color: white;
    background-color: rgb(23, 121, 233);
    border: transparent;
    border-radius: 5px;
    height: 40px;
    margin-left: 38%;
    font-family: bold;
}
#inputbutton:hover{
    background-color: rgb(34, 78, 224);
}
footer {
    display: inline-flex;
    margin-top: 80px;
}

#countrylink {
    margin-top: 18px;
    margin-left: 400px;
    font-size: small;
    position: absolute;
}
#lastp {
    font-size: small;
    color: gray;
    margin-left: 230px;
    position: absolute;
}
.link {
    text-decoration: none;
    margin-top: 25px;
    color: rgb(35, 85, 223);
}
.link:hover {
    text-decoration: underline;
}
#lastp2 {
    margin-top: 80px;
    font-size: small;
    margin-left: 250px;
    color: gray;
}
#lastp3 {
    position: absolute;
    font-size: small;
    margin-top: 110px;
    margin-left: 530px;
    color: gray;
}